/* 
primary: #2195f2
primary-dark: #0068bf
primary-light: #6ec5ff

secondary: #f44336
secondary-dark: #ba000d
secondary-light: #ff7961

on-primary: #000000
on-primary-dark: #FFFFFF
on-primary-light: #000000

on-secondary: #000000
on-secondary-dark: #FFFFFF
on-secondary-light: #000000
*/
html{
    font-size: 16px;
}

body{
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
    background-color: #888;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-weight: 300;
    font-size: 3.75rem;
    letter-spacing: -0.5;
}

h5{
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0;
}

p{
    line-height: 2;
    color: #444;
}

.elevation-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
.elevation-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
.elevation-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
.elevation-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
.elevation-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  
.app-bar{
    background-color: #2195f2;
    color: #000000;
    position: fixed;
    top: 0;
    z-index: 4;

    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 72px;
    font-size: 1.25rem;
}

.app-bar__icon{
    margin-right: 16px;
}

.app-bar__brand{
    height: 72px;
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-right: auto;
}

.app-bar__actions{
    height: 72px;
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-left: auto;
}

.navigation-bar{
    position: fixed;
    top: 72px;
    height: 100%;
    width: 25%;
    z-index: 3;

    left: 0;

    background-color: white;
}

.navigation-bar--hidden{
    left: -25%;
}

.hero{
    height: 500px;
    width: 100%;
    position: relative;
}

.hero_image{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero_dog{
    background-image: url("../images/hero-dog.jpg");
}

.hero_beach{
    background-image: url("../images/hero-beach.jpg");
}

.hero_overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.6);
    color:#FFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_title{
    font-weight: 300;
    font-size: 5rem;
    letter-spacing: -.5px;
    text-align: center;
    text-shadow: 0 4px 6px rgba(0,0,0,.6)
}

.content{
    background-color: #FFF;
    /* max-width: 50rem; */
    margin-left: 25%;
    margin-right: auto;
    /* padding: 40px; */
}

.content--no-navigation{
    margin-left: 0;
}

.card{
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 2px;
    margin: 24px;
}

#button-card-transition{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    position: fixed;
    right: 24px;
    bottom: 24px;
    background-color: #2195f2;
}

.fab__icon{
    color: white;
    font-size: 1.2rem;
    position: absolute;
    left: calc(50% - .6rem);
    top: calc(50% - .6rem);
}

#button-card-transition:hover{
    background-color: #69b1ec;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card__red{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 2;
}

.card__blue{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
    z-index: 1;
}

.fade-through-in{
    animation-name: fade-through-in;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.fade-through-out{
    animation-name: fade-through-out;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.start-hidden{
    opacity: 0;
}

.rotate-in{
    animation-name: rotate-in;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.rotate-out{
    animation-name: rotate-out;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.button-click{
    animation-name: button-click;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.content_text{
    padding: 48px;
    max-width: 50rem;
}

.transition{
    transition: all 300ms;
    -webkit-transform: all 300ms;
}

.start-hidden{
    opacity: 0;
}